<footer>
  <mat-toolbar>
    <ul>
      <li>
        <a>
          <img class="redes" [src]="facebook" alt="Icono de facebook" />
        </a>
      </li>
      <li>
        <a>
          <img class="redes" [src]="twitter" alt="Icono de twitter" />
        </a>
      </li>
      <li>
        <a>
          <img class="redes" [src]="whatsapp" alt="Icono de whatsapp" />
        </a>
      </li>
      <li>
        <a>
          <img class="youtube" [src]="youtube" alt="Icono de youtube" />
        </a>
      </li>
    </ul>
  </mat-toolbar>
</footer>
